.task {
    height: 254px;
    width: 218px;
    background-color: #ffffff;
    border-radius: 24px;
    margin-right: 30px;
    padding: 40px 25px;
    box-shadow: 7px 7px 1px #DFE7EE;
    flex-shrink: 0;
}

.task.full-screen{
    border-top-right-radius: 50px !important;
    margin-top: 20px;
    margin-right: 30px;
    padding: 60px 50px;
}

.task .task__header__title{
    font-size: 16px;
    color: #627E97;
}

.task.full-screen .task__header__title{
    font-size: 25px;
}

.task .task_header_btn{
    color: #279AFF;
}

.task.full-screen .task_header_btn{
    font-size: 24px;
}

.task.task-dark .task__header__title{
    color: #ffffff;
}

.task.task-dark .task_header_btn{
    color: #ffffff;
}

.task .task__body{
    margin-top: 40px;
}

.task.full-screen .task__body{
    margin-top: 80px;
}

