.home {
    padding-right: 25px;
    padding-left: 25px;
}

#btnAddTask {
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: none;
    margin: 0;
}

.tasks-slider {
    width: 107%;
    /*height: 354px;*/
    margin-top: 80px;
    /*margin-left: -25px;*/
    margin-right: -25px;
    padding-bottom: 30px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /*scrollbar-width: none;*/
}

.tasks-slider::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    flex-direction: column;
}

.intro-text {
    font-size: 30px;
    padding-top: 80px;
}

.center input {
    width: 80%;
    /* margin: auto; */
}
.text-red {
    color: red;
}
.text-pink {
    color: pink;
}
.text-purple {
    color: purple;
}
.text-teal {
    color: teal;
}
.text-green {
    color: green;
}
.text-lime {
    color: lime;
}
.text-cyan {
    color: cyan;
}
.text-amber {
    color: blue;
}
.text-orange {
    color: orange;
}
.text-black {
    color: black;
}
.text-white {
    color: yellow;
}
.form-control {
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
}
