.clock h1{
    font-size: 6rem !important;
    /*padding-bottom: 0 !important;*/
    margin: 0 !important;
    padding: 0 !important;
}

.clock h1 span{
    font-size: 20px;
    padding: 0px 5px; 
}

.clock p.date{
    /*float: right;*/
    margin-top: -10px !important;
    margin-left: 170px;
    font-size: 18px;
}
